<meta property="og:type" content="website">
<meta property="og:title" content="{{ title or site.name }}">
<meta property="og:description" content="{{ description or site.tagline }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}{{ site.ogImage }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:locale" content="en_GB">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title or site.name }}">
<meta name="twitter:description" content="{{ description or site.tagline }}">
<meta name="twitter:image" content="{{ site.url }}{{ site.ogImage }}">
